<app-header></app-header>
<div *ngIf="navStatus" class="container">
	<div class="row">
		<div class="button-container">
			<a type="button" class="btn btn-primary add" (click)="open(content)">Add</a>
		</div>
	</div>
</div>
<div *ngIf="navStatus" class="container">
	<div class="row">
		<div class="col-md-4 border border-right-0 border-bottom-0 border-dark p-0 m-0">
			<div class="card border border-top-0 border-right-0 border-left-0 border-dark rounded-0">
				<div class="card-body">
					<div>
						<h4 class="text-center">To Do</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 border border-right-0 border-bottom-0 border-dark p-0 m-0">
			<div class="card border border-top-0 border-right-0 border-left-0 border-dark rounded-0">
				<div class="card-body">
					<div>
						<h4 class="text-center">In Progress</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 border border-bottom-0 border-dark p-0 m-0">
			<div class="card border border-top-0 border-right-0 border-left-0 border-dark rounded-0">
				<div class="card-body">
					<div>
						<h4 class="text-center">Done</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 border border-right-0 border-top-0 border-dark p-0 m-0" dragula="DRAGULA_FACTS">
			<div *ngFor="let card of cardsTodo | filter:searchValue" class="card border border-dark p-1 m-1">
				<div class="card-body todo-card">
					<div class="row">
						<div class="col-md-4">
							<h5 class="card-title">{{card.taskName}}</h5>
						</div>
						<div class="date-time col-md-8">
							<h5>{{card.createDate | date:'dd-MM-yyyy HH-mm'}}</h5>
						</div>
					</div>
					<p class="card-text">{{card.description}}</p>
					<div class="row">
						<div class="col-md-8">
							<img src="assets/img/edit.svg" class="icons cursor-pointer"
								(click)="editTodoCard(card.id, card.taskName, card.createDate, card.description, card.status)" />
						</div>
						<div class="col-6 col-md-4">
							<img src="assets/img/delete.svg" class="icons cursor-pointer"
								(click)="openConfirmationDialog(card.id)" />
							<img src="assets/img/archive.svg" class="icons cursor-pointer"
								(click)="addToArchive(card.id, card.taskName, card.createDate, card.description)" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 border border-right-0 border-top-0 border-dark p-0 m-0" dragula="DRAGULA_FACTS">
			<div *ngFor="let card of cardsInProgress | filter:searchValue" class="card border border-dark p-1 m-1">
				<div class="card-body todo-card">
					<div class="row">
						<div class="col-md-4">
							<h5 class="card-title">{{card.taskName}}</h5>
						</div>
						<div class="date-time col-md-8">
							<h5>{{card.createDate | date:'dd-MM-yyyy HH-mm'}}</h5>
						</div>
					</div>
					<p class="card-text">{{card.description}}</p>
					<div class="row">
						<div class="col-md-8">
							<img src="assets/img/edit.svg" class="icons cursor-pointer"
								(click)="editTodoCard(card.id, card.taskName, card.createDate, card.description, card.status)" />
						</div>
						<div class="col-6 col-md-4">
							<img src="assets/img/delete.svg" class="icons cursor-pointer"
								(click)="openConfirmationDialog(card.id)" />
							<img src="assets/img/archive.svg" class="icons cursor-pointer"
								(click)="addToArchive(card.id, card.taskName, card.createDate, card.description)" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 border border-top-0 border-dark p-0 m-0" dragula="DRAGULA_FACTS">
			<div *ngFor="let card of cardsDone | filter:searchValue" class="card border border-dark p-1 m-1">
				<div class="card-body todo-card">
					<div class="row">
						<div class="col-md-4">
							<h5 class="card-title">{{card.taskName}}</h5>
						</div>
						<div class="date-time col-md-8">
							<h5>{{card.createDate | date:'dd-MM-yyyy HH-mm'}}</h5>
						</div>
					</div>
					<p class="card-text">{{card.description}}</p>
					<div class="row">
						<div class="col-md-8">
							<img src="assets/img/edit.svg" class="icons cursor-pointer"
								(click)="editTodoCard(card.id, card.taskName, card.createDate, card.description, card.status)" />
						</div>
						<div class="col-6 col-md-4">
							<img src="assets/img/delete.svg" class="icons cursor-pointer"
								(click)="openConfirmationDialog(card.id)" />
							<img src="assets/img/archive.svg" class="icons cursor-pointer"
								(click)="addToArchive(card.id, card.taskName, card.createDate, card.description)" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #content bs-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label for="taskName" class="col-form-label">Title:</label>
			<input id="taskName" name="taskName" class="form-control" [class.is-invalid]="isfailedTaskName()"
				[(ngModel)]="taskName" type="text" (keyup)="valueChangeTaskName()">
			<div class="invalid-feedback">
				{{ errorMessageTaskName }}
			</div>
		</div>
		<div class="form-group">
			<label for="description" class="col-form-label">Description:</label>
			<textarea id="description" name="description" class="form-control"
				[class.is-invalid]="isfailedDescription()" (keyup)="valueChangeDescription()"
				[(ngModel)]="description"></textarea>
			<div class="invalid-feedback">
				{{ errorMessageDescription }}
			</div>
			<div *ngIf="errors" class="alert alert-danger" role="alert">
				{{modelStateErrors}}
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" ngbAutofocus class="btn btn-secondary"
			(click)="modal.dismiss('Cross click')">Close</button>
		<button type="button" class="btn btn-outline-dark" (click)="prepareAddAndEditTodoCard()">Save</button>
	</div>
</ng-template>