body, html {
    height: 100%;
    width: 100%;
    position: relative;
    background: #e9ecef;
}

img.cursorPointer,  a.cursorPointer {
    cursor: pointer;
}

.buttonContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary {
	color: #ffff !important;
}