body, html {
    height: 100%;
    width: 100%;
    position: relative;
    background: #e9ecef;
}

img.cursor-pointer,  a.cursor-pointer, th.cursor-pointer {
    cursor: pointer;
}

.button-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary {
	color: #ffff !important;
}

.date-time {
    text-align: right;
}

.icons {
    height: 32px;
    width: 32px;
}

