body, html {
    height: 100%;
    width: 100%;
    position: relative;
    background: #e9ecef;
}

.cursor-pointer {
    cursor: pointer;
}

.todo-card {
  cursor: pointer;
}

.button-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.registerLink {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 0;
}

.add {
	color: #ffff !important;
}

.date-time {
    text-align: right;
}

.icons {
    height: 32px;
    width: 32px;
}

table thead th {
  font-weight: bold;
}
table thead th,
table thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}
table thead th:active,
table thead td:active {
  outline: none;
}
table thead .sorting,
table thead .sorting_asc,
table thead .sorting_desc {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right;
}
table thead .sorting {
  background-image: url("assets/img/sort_both.png");
}
table thead .sorting_asc {
  background-image: url("assets/img/sort_asc.png");
}
table thead .sorting_desc {
  background-image: url("assets/img/sort_desc.png");
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
