<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div *ngIf="navStatus" class="container">
    <a routerLink="/todolist" class="navbar-brand">Todo UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarArchivetasks"
      aria-controls="navbarArchivetasks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarArchivetasks">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/archivetasks" class="nav-link">Archive</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">        
        <li class="nav-item">
          <a class="nav-link">{{userName}}</a>
        </li>
        <li class="nav-item">' '
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
<div *ngIf="navStatus" class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th *ngIf="isSortingTaskName" scope="col" class="sorting" (click)="sortTitle()">Title</th>
        <th *ngIf="!isSortingTaskName" scope="col"
          [ngClass]="{'sorting_asc': isSortingAscDescTaskName(), 'sorting_desc': !isSortingAscDescTaskName()}"
          (click)="sortTitle()">Title</th>
        <th *ngIf="isSortingDescription" scope="col" class="sorting" (click)="sortDescription()">Description</th>
        <th *ngIf="!isSortingDescription" scope="col"
          [ngClass]="{'sorting_asc': isSortingAscDescDescription(), 'sorting_desc': !isSortingAscDescDescription()}"
          (click)="sortDescription()">Description</th>
        <th *ngIf="isSortingDate" scope="col" class="sorting" (click)="sortDate()">Date create</th>
        <th *ngIf="!isSortingDate" scope="col"
          [ngClass]="{'sorting_asc': isSortingAscDescDate(), 'sorting_desc': !isSortingAscDescDate()}"
          (click)="sortDate()">Date create</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of cardsArchive">
        <td>{{card.taskName}}</td>
        <td>{{card.description}}</td>
        <td>{{card.createDate | date:'dd-MM-yyyy HH-mm'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!navStatus" class="container">
  <div class="alert alert-danger" role="alert">
    <strong>Please register ...</strong>
  </div>
</div>