<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a routerLink="/todolist" class="navbar-brand">Todo UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarArchivetasks"
      aria-controls="navbarArchivetasks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarArchivetasks">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/archivetasks" class="nav-link">Archive</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col" [class.sorting]="isSortingTaskName()" [class.sorting_asc]="isSortingAscTaskName()"
          [class.sorting_desc]="isSortingDescTaskName()" (click)="sortTitle()">Title</th>
        <th scope="col" [class.sorting]="isSortingDescription()" [class.sorting_asc]="isSortingAscDescription()"
          [class.sorting_desc]="isSortingDescDescription()" (click)="sortDescription()">Description</th>
        <th scope="col" [class.sorting]="isSortingDate()" [class.sorting_asc]="isSortingAscDate()"
          [class.sorting_desc]="isSortingDescDate()" (click)="sortDate()">Date create</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of cardsArchive">
        <td>{{card.taskName}}</td>
        <td>{{card.description}}</td>
        <td>{{card.createDate | date:'dd-MM-yyyy HH-mm'}}</td>
      </tr>
    </tbody>
  </table>
</div>