<app-header></app-header>
<div *ngIf="navStatus" class="container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th *ngIf="isSortingTaskName" scope="col" class="sorting" (click)="sortTitle()">Title</th>
        <th *ngIf="!isSortingTaskName" scope="col"
          [ngClass]="{'sorting_asc': isSortingAscDescTaskName(), 'sorting_desc': !isSortingAscDescTaskName()}"
          (click)="sortTitle()">Title</th>
        <th *ngIf="isSortingDescription" scope="col" class="sorting" (click)="sortDescription()">Description</th>
        <th *ngIf="!isSortingDescription" scope="col"
          [ngClass]="{'sorting_asc': isSortingAscDescDescription(), 'sorting_desc': !isSortingAscDescDescription()}"
          (click)="sortDescription()">Description</th>
        <th *ngIf="isSortingDate" scope="col" class="sorting" (click)="sortDate()">Date create</th>
        <th *ngIf="!isSortingDate" scope="col"
          [ngClass]="{'sorting_asc': isSortingAscDescDate(), 'sorting_desc': !isSortingAscDescDate()}"
          (click)="sortDate()">Date create</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of cardsArchive | filter:searchValue">
        <td>{{card.taskName}}</td>
        <td>{{card.description}}</td>
        <td>{{card.createDate | date:'dd-MM-yyyy HH-mm'}}</td>
      </tr>
    </tbody>
  </table>
</div>