<div class="container">
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
			aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Todo UI</a>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" (click)="open(content)">Add Task</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
</div>
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-4 border border-right-0 border-dark p-0 m-0" dragula="Spill">
				<div class="card border border-top-0 border-right-0 border-left-0 border-dark rounded-0">
					<div class="card-body">
						<div>
							<h4 class="text-center">To Do</h4>
						</div>
					</div>
				</div>
				<div *ngFor="let card of cardsTodo" class="card border border-dark p-1 m-1">
					<div class="card-body">
						<h5 class="card-title">{{card.taskName}}</h5>
						<h5 class="card-title">{{card.createDate | date:'dd-MM-yyyy HH-mm'}}</h5>
						<p class="card-text">{{card.description}}</p>
						<a href="#" class="btn btn-primary">Edit task</a>
						<a href="#" class="btn btn-danger" (click)="openConfirmationDialog(card.id)">Delete task</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 border border-right-0 border-dark p-0 m-0" dragula="Spill">
				<div class="card border border-top-0 border-right-0 border-left-0 border-dark rounded-0">
					<div class="card-body">
						<div>
							<h4 class="text-center">In Progress</h4>
						</div>
					</div>
				</div>
				<div *ngFor="let card of cardsInProgress" class="card border border-dark p-1 m-1">
					<div class="card-body">
						<h5 class="card-title">{{card.taskName}}</h5>
						<h5 class="card-title">{{card.createDate | date:'dd-MM-yyyy HH-mm'}}</h5>
						<p class="card-text">{{card.description}}</p>
						<a href="#" class="btn btn-primary">Edit task</a>
						<a href="#" class="btn btn-danger" (click)="openConfirmationDialog(card.id)">Delete task</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 border border-dark p-0 m-0" dragula="Spill">
				<div class="card border border-top-0 border-right-0 border-left-0 border-dark rounded-0">
					<div class="card-body">
						<div>
							<h4 class="text-center">Done</h4>
						</div>
					</div>
				</div>
				<div *ngFor="let card of cardsDone" class="card border border-dark p-1 m-1">
					<div class="card-body">
						<h5 class="card-title">{{card.taskName}}</h5>
						<h5 class="card-title">{{card.createDate | date:'dd-MM-yyyy HH-mm'}}</h5>
						<p class="card-text">{{card.description}}</p>
						<a href="#" class="btn btn-primary">Edit task</a>
						<a href="#" class="btn btn-danger" (click)="openConfirmationDialog(card.id)">Delete task</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #content bs-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add Task</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group" *ngIf="failedTaskName==false">
			<label for="taskName" class="col-form-label">Title:</label>
			<input id="taskName" name="taskName" class="form-control" [formControl]="taskName" type="text">
		</div>
		<div class="form-group" *ngIf="failedTaskName==true">
			<label for="taskName" class="col-form-label">Title:</label>
			<input id="taskName" name="taskName" class="form-control is-invalid" [formControl]="taskName" type="text">
			<div class="invalid-feedback">
				{{ errorMessageTaskName }}
			</div>
		</div>
		<div class="form-group" *ngIf="failedDescription==false">
			<label for="description" class="col-form-label">Description:</label>
			<textarea id="description" name="description" class="form-control" [formControl]="description"></textarea>
		</div>
		<div class="form-group" *ngIf="failedDescription==true">
			<label for="description" class="col-form-label">Description:</label>
			<textarea id="description" name="description" class="form-control is-invalid"
				[formControl]="description"></textarea>
			<div class="invalid-feedback">
				{{ errorMessageDescription }}
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button>
		<button type="button" class="btn btn-outline-dark" (click)="addTodoCard()">Save</button>
	</div>
</ng-template>