<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a routerLink="/todolist" class="navbar-brand">Todo UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarArchivetasks"
      aria-controls="navbarArchivetasks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarArchivetasks">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/archivetasks" class="nav-link">Archive</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login" id="loginLink" class="nav-link">SignIn</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br />
      <h2>Please enter your information</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">
        <br />
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" #email="ngModel" id="email" [class.is-invalid]="email.invalid && email.touched" required
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" name="email" placeholder="Email"
            [ngModel]="registrationValue.email" />
          <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid
            email</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" #password="ngModel" class="form-control" id="password"
            [class.is-invalid]="password.invalid && password.touched" name="password" placeholder="Password"
            [ngModel]="registrationValue.password" required />
          <small [hidden]="password.valid || (password.pristine && !submitted)" class="text-danger">Please enter a
            password</small>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" #confirmPassword="ngModel" class="form-control" id="confirmPassword"
            [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched" name="confirmPassword"
            placeholder="Confirm Password" [(ngModel)]="registrationValue.confirmPassword"
            (keyup)="checkValidConfirmPassword(password.value, confirmPassword.value)" required />
          <div
            *ngIf="confirmPassword.errors && (confirmPassword.invalid || confirmPassword.touched) || !isValidConfirmPassword">
            <small class="text-danger"
              *ngIf="!isValidConfirmPassword && !confirmPassword.valid && confirmPassword.touched">Please
              enter a confirm password</small>
            <small class="text-danger" *ngIf="!isValidConfirmPassword && confirmPassword.valid">The password and
              password confirmation
              must match</small>
          </div>
        </div>
        <br />
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Sign Up</button>
        </div>
        <div *ngIf="errors" class="alert alert-danger" role="alert">
          <strong>Oops!</strong> {{errors}}
        </div>
      </form>
    </div>
  </div>
</div>